@import './base.css';
@import "/node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";
@import "/node_modules/@fortawesome/fontawesome-free/css/brands.css";
@import "/node_modules/@fortawesome/fontawesome-free/css/solid.css";

#app {
    font-weight: normal;
    height: 100%;
}

.red {
    background-color: #e7153b;
    color: #e7153b;
}

.blue {
    background-color: #1a61b3;
    color: #1a61b3;
}

.green {
    background-color: #3cac2c;
    color: #3cac2c;
}

.yellow {
    background-color: #ffc400;
    color: #b9920f;
}

.white {
    background-color: white;
    color: white;
}