name: Publish

on:
    push:
        branches: ["main"]

jobs:
    code-check:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                node-version: '24.13.0'
            - name: Install dependencies
              run: npm install
            - name: Lint project files
              run: npm run lint
            - name: Type-check project files
              run: npm run type-check
            - name: Build project
              run: npm run build
            - name: Upload build files
              uses: actions/upload-artifact@v6
              with:
                  name: build-files
                  path: dist/
    docker-build:
        runs-on: ubuntu-latest
        needs: [code-check]
        timeout-minutes: 15
        steps:
            - name: Check out repo
              uses: actions/checkout@v6

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Download build files
              uses: actions/download-artifact@v7
              with:
                  name: build-files
                  path: dist

            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_TOKEN }}

            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                  context: .
                  push: true
                  tags: leondeklerk/qwixx:latest,leondeklerk/qwixx:${{ github.SHA }}
                  platforms: "linux/amd64,linux/arm64,linux/arm/v7"
